.container {
  padding: 0 420px 190px 420px;
}

.popular {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}

.popular::before {
  content: url(/images/Path.svg);
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.personal {
  background: linear-gradient(180deg, #fdc624 0%, #e6c434 100%);
}

.personal .card__img img {
  margin-top: 25px;
  margin-right: 4px;
}

.business {
  background: linear-gradient(180deg, #55dce7 0%, #3dcad4 100%);
}

.business .card__img img {
  width: 85%;
  margin-top: 12px;
}

.developer {
  background: linear-gradient(180deg, #6bdfff 0%, #3dacfc 100%);
}

.developer .card__img img {
  width: 90%;
}

.agency {
  background: linear-gradient(180deg, #bfcedc 0%, #939fb3 100%);
}

.agency .card__img img {
  width: 85%;
  margin-top: 18px;
  margin-right: 9px;
}

.plan__title {
  margin: 135px 0 67px 0;
  width: 100%;
  text-align: center;
}

.plan__title-text {
  font-size: 38px;
  font-family: "Roboto", serif;
  font-weight: 700;
}

.plan__title-subtext {
  font-size: 22px;
  font-weight: 400;
  display: inline-block;
  padding: 13px 9px 0 0;
}

.plan__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
}

.plan__item {
  min-height: 600px;
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 33px;
  height: 100%;
}

.card__img {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img img {
  object-fit: contain;
  display: block;
}

.card__title {
  font-size: 21px;
  font-weight: 500;
}

.card__text {
  line-height: 1.33;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 26px;
}

.card__price {
  font-size: 67px;
  font-weight: 700;
  padding: 0 0 0 14px;
  position: relative;
  margin-bottom: 8px;
}

.card__price::before {
  position: absolute;
  top: -44px;
  left: 2px;
  content: url(/images/$.svg);
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__item {
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 0 20px;
}

.card__btn {
  margin-top: auto;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 3px;
  white-space: nowrap;
  padding: 10px 50px;
}

.accent-btn {
  position: relative;
  color: transparent;
  background: inherit;
  z-index: 0;
}

.accent-btn::before {
  content: attr(data-text);
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: inherit;
  background-clip: text;
  inset: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  white-space: nowrap;
}

.accent-btn::after {
  position: absolute;
  inset: 0;
  content: "";
  background: #fff;
  z-index: 1;
}
